
<div class = "content">
  <div class ="banner">
      <h1>CHRISTOPHER HO</h1>
      <h4>Engineering Student at the University of Waterloo</h4>
      <%= link_to "Resume", asset_path("resume.pdf"), target: "_blank", class:'banner_btn' %>

      <div class = "skinny_wrapper wrapper_padding">
        <div class = "about">
            <div class ="white_box">
              <%= image_tag("selfpic.jpg", :alt => "rss feed", :class=> "img-circular") %>
              <p>My name is Christopher Ho and I am currently a 2B Mechnical Engineering student at the University of Waterloo.</p>
              <p>Like many of my fellow engineering colleagues, I have a passion for creating something new, innovative and unique. My first programming language I learned was during my first year which was an introduction to programming course using C#. Since then, I have developed a passion for programming and taken the initiative to developing my own iOS and web applicaitons. I hope to one day gain practical experience in the application development work field.</p>
              <p>My hobbies consist of basketball, travelling and being a fitness enthusiast. In addition, I am addicted to poker. If you ever need an extra player at your table, send me a message!</p>
              <p>**SOME PARTS OF THE WEBSITE ARE CURRENTLY UNDER CONSTRUCTION**</p>
            </div>
          </div>
      </div>

      <h3>Check out my blog and recent projects!</h3>

      <div class="row_icons">

        <div class ="row_cell">
          <%= link_to projects_path do %><span class="fa fa-code fa-4x"></span><% end %>
          <p>Recent Projects</p>
        </div>



        <div class ="row_cell">
          <%= link_to posts_path do %><span class="fa fa-keyboard-o fa-4x"></span><% end %>
          <p>Blog</p>
        </div>

      </div>
  </div>
</div>
