<h1 id ="page_title">About Me</h1>
<div class = "skinny_wrapper wrapper_padding">
  <div class = "row">
    <div class = "col-md-4">
      <div class = "portrait-photo">
        <%= image_tag("portrait.jpg", :alt => "rss feed", :class=> "img-circular") %>
      </div>
    </div>
    <div class = "col-md-8">
      <div class ="white_box">
        <p>My name is Christopher Ho and I am currently a 2B Mechnical Engineering student at the University of Waterloo.</p>
        <p>Like many of my fellow engineering colleagues, I have a passion for creating something new, innovative and unique. My first programming language I learned was during my first year which was an introduction to programming course using C#. Since then, I have developed a passion for programming and taken the initiative to developing my own iOS and web applicaitons. I hope to one day gain practical experience in the application development work field.</p>
        <p>My hobbies consist of basketball, travelling and being a fitness enthusiast. In addition, I am addicted to poker. If you ever need an extra player at your table, send me a message!</p>
      </div>
    </div>
  </div>
</div>
