.main-area-welcome{
    background-image: url("background.jpeg");
    background-size: cover;
}

.col-1, .col-2, .col-3{
  float: left;
}

.col-1{
  width: 80%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3{
  width: 20%;
  padding: 0 2.5%;
}

.homepage_content{
  h2{
    font-size: 1.1rem;
    text-transform: uppercase;
  }



  h3{
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a{
    text-decoration: none;
    color: $dark;
    &:hover{
      color:$highlight;
    }
  }

  .date{
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }

  p{
    margin: 0 0 .75em 0;
  }
}

.about{
  padding: 0 7.5% 0 0;
  a{
    color: $highlight;
    font-weight: 700;
    text-decoration: none;
  }
}

.overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.project:hover .overlay {
  opacity: 0.9;
}

.project {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
}
