.about{
    background-image: url("about.jpeg");
    background-size: cover;
}

.col-1, .col-2, .col-3{
  float: left;
}

.col-1{
  width: 80%;
  padding: 0 3% 0 3%;
}

.col-2, .col-3{
  width: 20%;
  padding: 0 3% 0 3%;
}

.homepage_content{
  h2{
    font-size: 1.1rem;
    text-transform: uppercase;
  }



  h3{
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a{
    text-decoration: none;
    color: $dark;
    &:hover{
      color:$highlight;
    }
  }

  .date{
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }

  p{
    margin: 0 0 .75em 0;
  }
}

.overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.project:hover .overlay {
  opacity: 0.9;
}

.blog{
}

.projects {
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

.post_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .article {
        max-width: 33%;
        text-align: center;
    }
}

.img-circular{
 width: 250px;
 height: 250px;
 background-size: cover;
 display: block;
 border-radius: 200px;
 -webkit-border-radius: 200px;
 -moz-border-radius: 200px;
}

.portrait-photo{
  padding: 3rem 0 3rem 0;
}
